$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower
// endbower
/*form body*/

body {
padding: 0;
background: url("../images/background.png");
background-size: cover;
background-attachment: fixed;
	font-family: 'montserrat';
}

body, html{
	height: 100%;
	
}



.formBody{
padding-top: 20px;
padding-bottom: 20px;
background: white;
font-weight: bold;
opacity: .8;
margin-top: 30px;
}

.container-fluid{
padding: 0;
}

textarea{
max-width: 100%;
}


/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {

  margin-bottom: 10px;

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

/* Custom page footer */
.container-narrow > hr {
  margin: 30px 0;
}
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;

  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;

  p + h4 {
    margin-top: 28px;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
	position: relative;
	z-index: 20;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

.map_container{
    position: relative;
    width: 100%;
padding-bottom: 38%; /* Ratio 16:9 ( 100%/16*9 = 56.25% ) */
}
.map_container .map_canvas{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 0;
    padding: 0;
}

.infoWindowContent {
    font-size:  14px !important;
    border-top: 1px solid #ccc;
    padding-top: 10px;
}
h2 {
    margin-bottom:0;
    margin-top: 0;
}
#site_desc h1{
	background-color: #3d58a7;
	color: #fff;
	text-align:center;
	margin: 0;
	padding: 10px 0;
	font-size: 18px;
	font-family: 'montserrat';
	letter-spacing: .1em;
}

/*navbar*/

.navbar-default, .footer{
background-color: rgba(255, 255, 255, .867);}

#navbar{
height: 125px;
}
#js-navbar-collapse{float:right;
margin-top: 78px;

}
.header,.navbar{
	margin-bottom: 0;
}
.navbar-default .navbar-nav > li > a {
    color: #3d58a7;
	font-size: 1.5em;
	font-family: 'montserrat';
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #333;
}
.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:focus {
    color: black;
background-color: transparent;
}
.navbar-default .navbar-nav > .open > a, 
.navbar-default .navbar-nav > .open > a:hover, 
.navbar-default .navbar-nav > .open > a:focus {
    color: #3d58a7;
    background-color: transparent;
}

/*search-bar*/

#map-search {
	background-color: #3d58a7;
	color: #fff;
	position: absolute;
	bottom: 0;
	height: 30px;
	width: 100%;
}
#map-search form{
color: #000;
text-align: center;
}

input[type="radio"] {
    margin-right: 5px;
}
