
<div class="formBody">
<div class="container">
<form name="businessAdd">
  <fieldset>
    <legend>Add your business!</legend>
  Company Name:<br/>
	<input type="text" name="compName"><br/><br/>
	
  Address:<br/>
	<input type="text" name="address"><br/><br/>
	
  Phone:<br/> 
	<input type="tel" name="telephone"><br/><br/>
	
  Category:<br />
	<input type="radio" name="catType" value="food" checked>Food<br />
	<input type="radio" name="catType" value="shopping">Shopping<br />
	<input type="radio" name="catType" value="entertain">Entertainment<br /><br/>

  Company Image:<br />
    <input type="file" name="pic" accept="image/*"><br/><br/>
	
  Company Description: <br />
    <textarea rows="4" cols="50"></textarea><br /><br/>
	
  Would you like us to call?
  <input type="checkbox" name="callback" value="yes"> Yes <input type="checkbox" name="callback" value="no" checked> No<br/><br/>
  
      <input type="submit" value="Submit">
	  
  </fieldset>
 </form>
 </div>
 </div>
