
<div class="formBody">
<div class="container">

<form name="contactform">
  <fieldset>
    <legend>Have a business in Mind? Let us know.</legend>
  <div class="col-md-6">Company Name:<br/>
	<input type="text" name="compName"><br/><br/>
	
  Address:<br/>
	<input type="text" name="address"><br/><br/>
	
  Phone:<br/> 
	<input type="tel" name="telephone"><br/><br/>
	
  Category:<br />
	<input type="radio" name="catType" value="food" checked>Food<br />
	<input type="radio" name="catType" value="shopping">Shopping<br />
	<input type="radio" name="catType" value="entertain">Entertainment<br /><br/>
</div><div class="col-md-6">
	
  Discount Description: <br />
    <textarea rows="4" cols="50"></textarea><br /><br/>
	
  <br/>
  
      <input type="submit" value="Submit">
	  
  </fieldset>
 </form>
 </div>
 </div>