    <div id="site_desc">
		<h1>
			Find student discounts near you!
		</h1>
	</div>
	<div class='map_container'>
	<div id="map" class='map_canvas'></div>
	</div>
	<div id="map-search">
	<form> <select>
  <option value="resturant">Restaurant</option>
  <option value="entertainment">Entertainment</option>
  <option value="shopping">Shopping</option>
  <option value="all">All</option>
</select>
<input type="submit" value="Search"></form>

	</div>
    <!--<div id="class" ng-repeat="marker in markers | orderBy : 'title'">
         <a href="#" ng-click="openInfoWindow($event, marker)">{{marker.title}}</a> 
     </div> -->



<!--hacknights-->
 




    
